/* トマト */
.color-tomato {
    color: tomato;
}

/* オリーブ */
.color-olive {
    color: olive;
}

/* purgecss start ignore */
/* ティール */
.color-teal {
    color: teal;
}

/* アクア */
.color-aqua {
    color: aqua;
}
/* purgecss end ignore */

/* チョコレート */
.color-chocolate {
    color: chocolate;
}

/* プラム */
.color-plum {
    color: plum;
}